{% extends 'base.html.twig' %}

{% block body %}

<div class="card">
  <div class="card-header bg-primary text-white">
    <h1> Profil de {{ user.pseudo }}</h1>
  </div>
<div class="card-body">
  {{ form_errors(userForm) }}
  {{ form_start(userForm, {'attr': {'data-turbo': 'false'}}) }}
  {{ form_widget(userForm) }}
  {% if user.filename is not empty %}
    <img src="{{ asset('uploads/images/' ~ user.filename) }}" alt="Avatar" class="rounded-circle" width="200" height="200">
  {% endif %}
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
  </div>

  {{ form_end(userForm) }}</div>


</div>
{% endblock %}

{% block title %}

{% endblock %}


