{% extends 'base.html.twig' %}

{% block body %}
  <div class="container mt-5">
    <div class="row mb-5 align-items-center">
      <div class="col-auto">
        {# <i class="bi bi-person-circle" style="font-size: 2.5rem;"></i> #}
        <img src="{{ asset('uploads/images/' ~ user.filename) }}" alt="{{ user.pseudo }}" class="rounded-circle" style="width: 100px; height: 100px;">
      </div>
      <div class="col-auto">
        <h2 class="mb-0">{{ user.pseudo }}</h2>
      </div>
    </div>
    <!-- Bulles -->
    <div class="row text-center justify-content-center">
      <!-- Modifier mon profil -->
      <div class="col-md-5 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <i class="bi bi-person-circle fs-1 text-primary"></i>
            <h5 class="card-title mt-3">Modifier mon profil</h5>
            <a href="{{ path('app_profile',{pseudo: user.pseudo}) }}" class="btn btn-outline-primary">Modifier</a>
          </div>
        </div>
      </div>

      <!-- Mes sorties -->
      <div class="col-md-5 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <i class="bi bi-calendar2-event fs-1 text-success"></i>
            <h5 class="card-title mt-3">Mes sorties</h5>
            <a href="{{ path('security_profile_sorties', {pseudo: user.pseudo}) }}" class="btn btn-outline-success">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block title %}
{% endblock %}
