{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.duree, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.nbInscriptionsMax, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.etat, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_row(form.infosSortie, {'attr': {'class': 'form-control', 'rows': 3}}) }}
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-circle"></i> {{ button_label|default('Enregistrer') }}
        </button>
    </div>
{{ form_end(form) }}
