<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{ path('main_home') }}">
            <img src="{{ asset('images/logo_test.png') }}" alt="Logo sortir.com" class="me-2" style="height: 40px;">
            <span class="fs-4">Sortir.com</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_home') }}"><i class="bi bi-house-door"></i> Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('villes_list') }}"><i class="bi bi-building"></i> Villes</a>
                </li>
              {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('campus_list') }}"><i class="bi bi-geo-alt"></i> Campus</a>
                </li>
              {% endif %}

                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_profile',{pseudo: app.user.pseudo}) }}"><i class="bi bi-person"></i> Mon Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right"></i> Se déconnecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
